<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="modify_perm = 'WIKI_MODIFY' in perm(page.resource);
               admin_perm = 'WIKI_ADMIN' in perm(page.resource)">

    
  <head>
    <title py:if="title">$title</title>
    <meta py:if="version or page.author == 'trac'" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <script type="text/javascript" src="${href.chrome()}/common/js/jquery.js"></script>
    <script type="text/javascript">
      var status_color = {
          "$status.passed"         : "#66FF00",
          "$status.passed_comment" : "#FFFF00",
          "$status.failed"         : "#FF0033",
          "$status.skipped"        : "#AAAAAA",
          "$status.not_tested"     : "#FFFFFF"
      };
    </script>
    <script type="text/javascript" src="${href.chrome()}/TestManager/js/accordion.js"></script>
  <style>
    * {
        font-family: Verdana,Arial,Helvetica,sans-serif;
    }
      .trigger {
          cursor:pointer;
      }
  </style>
  </head>

  <body>  
    <div id="content">
        <span py:for="action in TestCaseActions">                                    
          <form py:if="action" method="POST" id="accordion$action.id">
            <h3 py:attrs="action.color" class="trigger">$action.title ($action.id)</h3>            
            <div class="toggle_container" id="$action.id" style="font: monospace; font-weight: normal;">
                <input type="hidden" name="testrun" value="$action.testrun" />
                <input type="hidden" name="action" value="$action.id" />
                $action.description<br /><br />
                $action.expected_result<br /><br />
                <p py:if="action.comments">
                <p py:for="comment in action.comments">$comment.user said: $comment.text</p>
                </p>
                <textarea name="comment"></textarea><br /><br />
                <input type="button" value="$status.skipped" name="status" />                    
                <input type="button" value="$status.passed" name="status" />                    
                <input type="button" value="$status.failed" name="status" />                
            </div>            
          </form>            
        </span>
    </div>
  </body>

</html>

<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
