<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:with="modify_perm = 'WIKI_MODIFY' in perm(page.resource);
               admin_perm = 'WIKI_ADMIN' in perm(page.resource)">

  <xi:include href="TestManager_panels.html" />
  <head>
    <title py:if="title">$title</title>
    <meta py:if="version or page.author == 'trac'" name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor(_("Link to this section"));
        $("#content").find(".wikianchor").each(function() {
          $(this).addAnchor(babel.format(_("Link to #%(id)s"), {id: $(this).attr('id')}));
        });
        $(".foldable").enableFolding(true, true);
      });
    </script>
  </head>

  <body>
    <div id="content">
      <table class="listing reports"
             py:with="any_edit = any(can_edit for id, title, can_edit, can_delete in reports);
                      any_delete = any(can_delete for id, title, can_edit, can_delete in reports)">
        <thead py:if="testruns"><tr>
          <th>TestRun</th>
          <th>started on</th>
          <th>status</th>
        </tr></thead>

        <tbody py:choose="">
          <tr py:when="testruns" py:for="testrun in testruns">
            <td class="report">$testrun.summary</td>
            <td class="title">$testrun.created</td>
            <td class="action">placeholder</td>
          </tr>
        </tbody>
      </table>
      <br /><br />
      <b py:if="testplans">Available Testplans</b><br />
      <form py:choose="testplans" action="testplans" method="POST">
        <select py:when="testplans" name="start_plan">
          <option py:for="option in testplans" value="$option">$option</option>
        </select>
        <input py:if="testplans" type="submit" value="start testplan" />
      </form>
    </div>
  </body>

</html>

<!-- vim: set ft=html ts=2 sw=2 expandtab : -->
